<script>
import "./safe-html";
import { sanitize } from "dompurify";

export default {
  name: "App",
  components: {},
  data() {
    return {
      message:
        "<b>Welcome to safeland</b><br>\n<a href='javascript:alert(1)'>This is fun</a><br>\n<img src=x onerror=console.log(1)>",
      sanitize,
    };
  },
};
</script>

<template>
  <div id="app">
    <header>
      <img alt="Vue logo" src="./assets/logo.png" />
      <h2>v-safe-html</h2>
    </header>

    <div class="block">
      <h3>Before</h3>
      <textarea v-model="message" rows="4" cols="80"></textarea>
      <div v-html="message"></div>
    </div>

    <div class="block">
      <h3>After</h3>
      <!-- eslint-disable-next-line vue/no-textarea-mustache -->
      <textarea rows="4" cols="80" disabled>{{ sanitize(message) }}</textarea>
      <div v-safe-html="message"></div>
    </div>

    <footer>
      <a
        href="https://gitlab.com/djadmin/vue-safe-html/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img alt="GitLab logo" src="./assets/gitlab.png" />
      </a>
    </footer>
  </div>
</template>

<style>
h2 {
  color: #42b983;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.block {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: "Monaco", courier, monospace;
  padding: 20px;
}

textarea:disabled {
  color: #2c3e50;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
footer img {
  width: 100px;
  height: auto;
}
</style>
